.sign{
    
    margin-bottom: 33%;
    margin-left: 33%;
    margin-right: 33%;
}
.body {
    background-image: url('../../assets/images/login.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    width: auto;
    height: 700px;
    align-items: center;
    align-content: center;
}